/* Color Pallet */
:root {
    --main-orange: #e66005;
    --medium-orange: #8c3a03;
    --medium-green: #0e6035;
    --dark-green: #094425;
    --creme: #FFFEF2;
    --light-brown: #ae9d64;
}


body {
    box-sizing: border-box;
    padding: 0;
    color: var(--medium-orange);
    /* background-color: var(--creme); */
    font-family:'Poppins';

    position: relative;
    min-height: 100vh;
}

a {
    color: var(--medium-green);
}
ul {
    list-style-type: none;
}

img {
    width: 100%;
}

h1 {
    font-size: 2rem;
}
/* Header Bar Styling */
.navbar {
    color: var(--main-orange);
    background-color: var(--dark-green);
    min-height: 50px;
    margin: auto;
    padding-top: 10px;
	padding-bottom: 10px;
    width: 100%;
    justify-content: center;
}

.nav_buttons{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding: 0;
}

.nav_buttons a{
   text-transform: uppercase;
   text-align: center;
   display:block;
   justify-content: space-between;
   padding: 10px;
   text-decoration: none;
   color: var(--main-orange);
}

.nav_buttons a:hover {
    background-color: var(--medium-green);
    width: fit-content;
    margin: auto;
}

.logo {
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    padding-left: 10px;
}

/* Utilities */

.container_2grid {
    width: 100%;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    padding: 1rem;
}
.container_gen {
    width: 100%;
    max-width: 800px;
    display: grid;
    text-align: center;
    margin: auto;
    padding-bottom: 6rem;
}
.column {
    float: left;
    width: 50%;
    margin: auto;
}

.column p {
    padding-right: 1rem;
    text-align: left;
}

.footer {
    width: 100%;
    height: 100px;
    max-height: 150px;
    text-align: center; 
    margin: auto;
    position: absolute;
    bottom: 0;
}

.footer img {
    max-height: 32px;
    height: 100%;
    width: auto;
}

.footer span {
    width: 60%;
    display: flex;
    margin: auto;
    gap: 2rem;
}

.footer a {
    margin:auto;
    margin-top: 10px;
}

.footer p {
    margin-right: 15px;
}

.noPadding {
    padding: 0;
    margin: 0;
}
/* Media Queries */

@media (min-width: 769px) {
    .navbar, 
    .nav_buttons,
    .footer {
        display: flex;
    }

    .navbar,
    .footer {
        align-items: center;
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }
}

@media (min-width: 1025px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }
}
