/* Color Pallet */
:root {
    --dark-green-blue: #051821;
    --dark-green: #1A4645;
    --light-green: #266867;
    --orange: #F58800;
    --mustard-yellow: #F8BC24;

}


body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--dark-green-blue);
    /* background-color: var(--creme); */
    font-family:'Poppins';

    position: relative;
    min-height: 100vh;
}


a {
    color: var(--light-green);
}
ul {
    list-style-type: none;
}

img {
    width: 100%;
}

h1 {
    font-size: 2rem;
}
/* Header Bar Styling */
.navbar {
    color: var(--orange);
    background-color: var(--dark-green);
    min-height: 50px;
    padding-top: 15px;
	padding-bottom: 15px;
    width: 100%;
    justify-content: center;
}

.nav_buttons{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding: 0;
}

.nav_buttons a{
   text-transform: uppercase;
   text-align: center;
   display:block;
   justify-content: space-between;
   padding: 10px;
   text-decoration: none;
   color: var(--orange-2);
}

.nav_buttons a:hover {
    background-color: var(--light-green);
    width: fit-content;
    margin: auto;
}

.logo {
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    padding-left: 10px;
}

/* Utilities */

.container_2grid {
    width: 100%;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.container_2grid h1 {
    text-align: right;
}

.container_2grid h2 {
    text-align: center;
}
.container_gen {
    width: 80%;
    max-width: 800px;
    display: grid;
    text-align: center;
    margin: auto;
    padding-bottom: 10rem;
}

.column {
    width: 50%;
    margin: auto;
    border-radius: 6rem;
}
.column_left {
    float: left;
    display: grid;
    width: 50%;
    margin: auto;
    margin-top: auto;
}
.column_right {
    float: right;
    display: grid;
    width: 50%;
    margin: auto;
    margin-top: auto;
}
.column_left p {
    padding-right: 3rem;
    text-align:left;
}
.column_left h2 {
    padding-right: 1.8rem;
    text-align: left;
}
.column_right img {
    border-radius: 1.25rem;
}


.footer {
    width: 100%;
    height: 100px;
    max-height: 150px;
    text-align: center; 
    margin: auto;
    position: absolute;
    bottom: 0;
}

.footer img {
    max-height: 32px;
    height: 100%;
    width: auto;
}

.footer span {
    width: 60%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 2rem;
}

.footer a {
    margin:auto;
    margin-top: 10px;
}

.footer p {
    margin-right: auto;
    
}

.noPadding {
    padding: 0;
    margin: 0;
}

.fa-style {
    font-size: 36px;
    color: var(--orange);
    width: 36px;
    height: 36px;
    
}
/* Media Queries */

@media (min-width: 769px) {
    .navbar, 
    .nav_buttons,
    .footer {
        display: flex;
    }

    .navbar {
        align-items: center;
        width: 100%;
        margin: auto;
    }

}

@media (min-width: 1025px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}
