* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;;
}

/* Header Bar Styling */
.headerbar{
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
.headerbar ul {
    display: flex;
}

.headerbar a {
    float: left;
    color: #6f6f6f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.headerbar a:hover {
    background-color: rgb(232, 232, 232);
    color: #313131;
}
.headerbar a.active {
    background-color: rgb(190, 190, 190);
    color: #313131;
    overflow: hidden; 
}

.headerbar .flex {
    justify-content: space-between;
}

/* Utilities */
.container_headerbar {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 20px; 
}
.container_grid {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
    "photo main main"
    "sidebar main main"
    "sidebar main main";
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid{
    display: grid;
    gap: 20px;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 10px 40px;
}

/* Grid Styling */
.main {
    width: 100%;
    grid-area: main;
    
}
.photo {
    width: 100%;
    grid-area: photo;
}
.sidebar {
    width: 100%;
    grid-area: sidebar;
}

/* Specific Element Styling */
.picture {
    min-width: 100px;
    max-width: 250px;
    width: 100%;
}

.pictures {
    width: 100%;
    object-fit: contain;
}
.icons {
    width: 20px;
    margin: 20px;
    overflow: hidden;
    float: left;
}
.tablestyle {
    text-align: left;
    font-size: 12px;
}


body {
    font-family: 'Poppins', sans-serif;
    color: #313131;
}
h1,h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px, 0;
}

p {
    margin: 5px 0;
}
ul {
    list-style-type: none;
}
img {
    width: 100%;
}

div p a:link{
    color: #0492ea;
 text-decoration: underline;
}
div p a:hover{
    color: #ea8304;
 text-decoration: underline;
}

td a:link {
 color: #313131;
 text-decoration: none;
}
td a:hover {
    color: #ea8304;
    text-decoration: underline;
}
td a:visited {
    color: #313131;
    text-decoration: underline;
}

